<div class="card">

  <div class="card-header">
    Minhas tarefas
  </div>

  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
             <th>Nome</th>
             <th>Titulo</th>
             <th>Açõees</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tarefa of tarefas">
          <td>
            {{tarefa.nome}}
          </td>
          <td>
            {{tarefa.titulo}}
          </td>
          <td>
            <button class="btn btn-primary btn-sm" [routerLink]="['/tarefas',tarefa.id, 'editar']">
               <i class="fa fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>


